<div class="container text-primary-color">
  <img src="assets/download.png" class="mt-3 img-fluid col-md-4 offset-md-4 col-sm-12" />
  <h2 class="text-center logo-color col-md-4 offset-md-4 col-sm-12"><strong>News</strong></h2>
  <div class="card mt-3 col-md-4 offset-md-4 col-sm-12 shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Sign in</h4>
      <hr>

      <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin(loginFormGroup.value)">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend ">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input type="text" class="form-control"
              [ngClass]="{'is-invalid':formValidations.emailId.invalid && (formValidations.emailId.touched || formValidations.emailId.dirty)}"
              id="InputEmail" placeholder="Enter email" formControlName="emailId">
            <div class="invalid-feedback"
              *ngIf="formValidations.emailId.invalid && (formValidations.emailId.touched || formValidations.emailId.dirty)">
              <div *ngIf="formValidations.emailId.errors.required">
                Email is required
              </div>
              <div *ngIf="formValidations.emailId.errors.pattern">
                Email must be valid
              </div>
            </div>
          </div><br>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" class="form-control"
              [ngClass]="{'is-invalid':formValidations.password.invalid && (formValidations.password.touched || formValidations.password.dirty)}"
              id="InputPassword" placeholder="Enter Password" formControlName="password">
            <div class="invalid-feedback"
              *ngIf="formValidations.password.invalid && (formValidations.password.touched || formValidations.password.dirty)">
              <div *ngIf="formValidations.password.errors.required">
                Password is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button id="submit" type="submit" class="btn btn-primary btn-block main-color"> Login </button>
        </div>
        <p class="text-center"><a id="navigate_signup" routerLink="signup">Don't have an account? SignUp here</a></p>
      </form>
    </div>
  </div>
</div>