.img{
    overflow: hidden;
    object-fit: cover;
}
.shadow-sm{
    color: black;
}
.btn-link:hover{
    color:rgb(67, 34, 124);
}
.text-white{
    background: #DD5347;
    padding: 7px;
}
a:hover{
    cursor: pointer;
}