<nav class="navbar navbar-light bg-light">
    <form class="form-inline" [formGroup]="SearchForm">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="search">
      <button (click)="searchArticles(SearchForm.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button (click)="history()" class="btn btn-success" name="Search History">Search History</button>
      <button (click)="LogOut()" class="btn btn-outline-danger" name="LogOut">Log Out</button>
    </form>
</nav>

<div class="col-md-8 mx-auto">
  <div *ngFor="let article of mArticles">
      <div [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}"
        class="example-header-image"></div>
      <h4 class="card-title">{{article.title}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{article.source.name}}</h6>
      <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
      <div class="card-body">
        <p>
          {{article.description}}
        </p>
      </div>
    <br>
  </div>
</div>